<h2>Ecrire un message...</h2>

<% form_for(@message) do |f| %>
<table>
	<tr>
		<td height=auto colspan=2 style="font-style:italic; font-size:small; color:red;">
			<%= f.error_messages %>
		</td>
	</tr>
	<tr>
		<td style="text-align:right;">
			<%= t("email") %>:
		</td>
		<td style="text-align:left;">
			<%= f.text_field :from %>
		</td>
	</tr>
		<tr>
		<td style="text-align:right;">
		</td>
		<td style="text-align:left;">
			<%= f.text_area :body %>
		</td>
	</tr>
</table>

  <p>
    <%= f.submit 'Envoyer' %>
  </p>
<% end %>

<!-- <%= link_to 'Back', messages_path %> -->