<h2><%= t('sign_in')%> </h2>
<%= render :partial => "shared/devise_links" %>
<% form_for resource_name, resource, :url => session_path(resource_name) do |f| -%>
  <%= f.error_messages %>
  <p><%= User.human_attribute_name("email") %>  <br/>
  <%= f.text_field :email %></p>

  <p><%= User.human_attribute_name("password") %><br/>
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %><%= f.label t('remember_me') %></p>
  <% end -%>

  <p><%= f.submit t('sign_in') %></p>
<% end -%>

