<h3><%= t('sign_up') %></h3>
<%= render :partial => "shared/devise_links" %>
<% form_for resource_name, resource, :url => registration_path(resource_name) do |f| -%>
  <%= f.error_messages %>
  <P><%= f.label User.human_attribute_name('email') %><br/> 
  <%= f.text_field :email %> ( Servira d'identifiant pour vous connectez ) 
<br/>
  <%= f.label User.human_attribute_name('password') %><br/>
  <%= f.password_field :password %>

<br/><%= f.label User.human_attribute_name('password_confirmation') %><br/>
   <%= f.password_field :password_confirmation %>
<br/>
    <%= f.label User.human_attribute_name('firstname')%><br />
    <%= f.text_field :firstname  %>
<br/>
    <%= f.label User.human_attribute_name('lastname') %><br />
    <%= f.text_field :lastname %>
<br/>
    <%= f.label User.human_attribute_name('title') %><br />
    <%= f.text_field :title %>
<br/>
    <%= f.label User.human_attribute_name('organization') %><br />
    <%= f.text_field :organization  %>
<br/>
    <%= f.label User.human_attribute_name('city') %><br />
    <%= f.text_field :city %>
<br/>
    <%= f.label User.human_attribute_name('state') %><br />
    <%= f.text_field :state %>
<br/>
    <%= f.label User.human_attribute_name('country') %><br />
    <%= f.text_field :country %>
  </p>


    <p><%= f.submit t('sign_up') %></p>
<% end -%>


