<div _style="border-top:1px solid gray"><TABLE width="96%" border="0" cellspacing="0" cellpadding="0"> 
	<tr style="width=5em">
	    <td  align=left class="blockTitleAnnex">
			<span ><%= @title %></span>
	    </td>
	</tr>
	<% rownum = 0 %>
    <% @items.each do |item| %>
	<% rownum = rownum  + 1 %>
	<tr valign=top 	 <%=h row_alternate_style(rownum)%> >
			<td width=auto style="padding-left:2px">	
			<% link_to(item)  do %>
				<%=h item[@fieldname]  %> 
			<% end %>	
        </td>
    </tr>
	    <tr valign=top 	 <%=h row_alternate_style(rownum)%> >
		<td align=right width=auto style="padding-right:2px">
			<span  style="text-align:right;"> <%=h item.datetime.to_date%></span>
        </td>
    </tr>

    <% end %>
	<tr>    <td  align=right <%=h row_alternate_style(rownum+1)%> >
			<% link_to(@link)  do %>
				<span _class="blockTitleAnnex">voir tout</span>
			<% end %>
	    </td>
	</tr>
	<tr style="width=5em">
	    <td  align=left height="24px" class="blockAnnexFooter">
			<span ></span>
	    </td>
	</tr>	
</table>

</div>