<TABLE width="100%" border="0" cellspacing="0" cellpadding="0"> 
	<tr style="width=30em">
	    <td colspan=3 align=left>
	        <h2>Liste d'événements</h2>
	    </td>
		<%= crud_link_to_withTD('new', new_event_path, '', 2, 'crud_Add_td') %>
	</tr>
	<% rownum = 0 %>
    <% @events.each do |event| %>
	<% rownum = rownum  + 1 %>
    <tr valign=top 	 <%=h row_alternate_style(rownum)%> >
		<td rowspan=2 background="/images/date.png" width=80px height=auto style="text-align:center; background-repeat:no-repeat;">
            <P><span class="event_date_bigday"><%=h event.datetime.day %></span></P>
            <P><span class="event_date_bigmonth"><%=h h_month_to_string(event.datetime.month,true) %></span></P>
            <P><span class="event_date_bigyear"><%=h event.datetime.year %></span></P>
        </td>
        <td height=auto>
            <span class="event_title">
			<% link_to(event)  do %>
				<%=h event.name  %> 
			<% end %>	
			</span>
        </td>
        <td style="text-align:right;"><%=h h_price(event.price) %><br>
			<%= registerUnregister(event, current_user || nil ) %>
        </td>
		
		<%=crud_link_to_withTD('edit', event, nil, 1, 'crud_Edit_Delete_td') %>
        <%=crud_link_to_withTD('delete', nil, event, 1, 'crud_Edit_Delete_td') %>
    </tr>
    <tr <%=h row_alternate_style(rownum)%> >
        <td colspan=2>
            <span class="event_description"><%= event.description %></span>
        </td>
    </tr>
    <% end %>
</table>
<br/>
