<h1><%= t('Event') %>: <%=h @event.name %></h1>
<%= secured_link_to t('Edit'), edit_event_path(@event) %>
| <%= link_to t('Back'), events_path %>
<!-- | < % if current_user != nil and @event.is_user_registred (current_user) % >
Vous êtes déjà enregistré pour cet événement< %= link_to t('Unregister'), :action => :unregister, :id => @event.id % >
< % else %>
<!-- | % = link_to t('Register'), :action => :register, :id => @event.id % -->
| <%= registerUnregister(@event, current_user || nil ) %>
<!-- % end % -->
<table valign=top>
    <tr>
        <td>
            <p class="post-date">
                <br>
                <span class="month"><%=h @event.datetime.day %></span>
                <span class="month"><%=h @event.datetime.month %></span>
                <span class="month"><%=h @event.datetime.year %></span>
            </p>
        </td>
        <td>
            <p>
                <b>Name:</b>
                <%=h @event.name %>
            </p>
            <p>
                <b>Description:</b>
                <%= @event.description %>
            </p>
        </td>
        <td>
            <b>Prix:</b>
            <%=h h_price(@event.price) %>
        </td>
    </tr>
	<%- if current_user != nil && current_user.is_admin %>
		<tr><td colspan=3 >Assistance: <%=h @event.users.count%></td></tr>
		<tr><td colspan=3 >
			<%for @user in @event.users %>
			<%=h @user.to_s  %> |
			<% end %> </td>
		</tr>
		<% end -%>
</table>
