<%= secured_link_to t('Edit'), edit_event_path(@event) %>
| <%= link_to t('Back'), events_path %>
| <%= registerUnregister(@event, current_user || nil ) %>
<br/>
<div _style="border-left:1px solid black">
<span class="event_title"><%= t('Event') %>: <%=h @event.name %>- <%=h @event.datetime.to_date.to_s(:db) %>( <%=h h_price(@event.price) %>) </span>
<br/>
<%= @event.description %>
<%- if current_user != nil && current_user.is_admin %>
<p>
    ----------------
</p>
<b>Assistance: </b>
<%=h @event.users.count %>
</td>
</tr>
<%for @user in @event.users %>
<%=h @user.to_s %>|<% end %>
</td>
<% end -%>
</div>
